<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis配置文件 -->
<configuration>
    <!-- 定义全局变量 -->
    <properties resource="jdbc.properties">
        <!--👆的是加载外部的properties文件 -->
        <property name="username" value="root"/>
    </properties>

    <!-- 设置MyBatis的一些可选项 -->
    <settings>
        <!-- 在控制台打印SQL语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 将下划线命名法映射为驼峰命名法-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
    </mappers>
</configuration>