<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- define global variable-->
    <properties resource="jdbc.properties"> <!--get properties from a file with classpath-->
        <property name="username" value="root"/>
    </properties>
    <settings>
        <!-- log sql in console -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!-- make an alias name for a java type -->
        <typeAlias type="java.lang.Integer" alias="Integer"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/monkey.xml"/>
        <mapper resource="mapper/article.xml"/>
        <mapper resource="mapper/monkeyDao.xml"/>
    </mappers>
</configuration>